{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 m-auto">
            <form method="POST">
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
                <label for="inputPassword">Old Password</label>
               
                    <input type="password" name = 'op' class="form-control" id="inputPassword" placeholder="old Password">
                
              
                    <label for="inputPassword">New Password</label>
                   
                      <input type="password" name="np" class="form-control" id="inputPassword" placeholder="New Password">
                    
                    <label for="inputPassword">Re Type Password</label>
                    
                      <input type="password" name="rp" class="form-control" id="inputPassword" placeholder="Re Type Password">
                <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                </form>
</div>
</div>
</div>
{% endblock %}